# Subversion
.svn

# Visual Studio
.editorconfig

# Ignore folders
node_modules/
vendor/
fullcalendar*/
tmp/
wpcs/
.vscode/

# Build files
*.zip
*.tar.gz
*.min.js
*.min.css

# Composer lock file
*.lock

# NPM lock file
*-lock.json

.DS_Store
Thumbs.db
wp-cli.local.yml

# Google test files
credentials.json
token.json
quickstart.php
