<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="kleistad">
			<directory prefix="class-test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
			<directory suffix=".php">./public</directory>
			<directory suffix=".php">./admin</directory>
			<exclude>
				<directory>./*/partials</directory>
				<directory>./*/js</directory>
				<directory>./*/css</directory>
				<directory>./*/images</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
