/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/*
Description: stylesheet functions voor kleistad_plugin
  Version: 4.1.0
  Author: Eric Sprangers
  Author URI: http://www.sprako.nl/
  License: GPL2
*/

/*csslint important: false, box-model: false*/

.ui-widget{
    font-size:14px !important;
}
.ui-dialog-title{
    display:none;
}
.ui-widget-content {
    border: none;
}
.ui-tabs .ui-tabs-nav{
    font-size:13px;
}
.ui-tabs-panel{
    border: 2px solid #DDD;
    font-size:12px;
}

.kleistad_hover {
    color: blue;
}
.kleistad_tijd {
    width: 4em;
}
.kleistad_datum {
    width: 9em;
}
.kleistad_fout {
    background-color: #D4A190;
    border-left: 6px solid #D67750;
}
.kleistad_succes {
    background-color: #A1D490;
    border-left: 6px solid #6CD650;
}
.kleistad_inform {
    background-color: #FFFACD;
    border-left: 6px solid #FFD700;
}
.kleistad_form_popup {
    display: none;
}
table.kleistad_form {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    border-style: none;
    font-size: small;
    padding: 0;
    vertical-align: middle;
}
table.kleistad_form tr {
    margin: 0;
}
table.kleistad_form td {
    border-style: none;
}
table.kleistad_form th {
    border-style: none;
    text-align: center;
}
table.kleistad_form>tfoot>tr:last-child th {
    padding: 2px;
}
table.kleistad_form input[type=text], select {
    width: 100%;
}
table.kleistad_form select {
    -webkit-appearance: menulist-button;
    font-size:small;
}
table.kleistad_form button {
    font-size: small;
    height: 2.5em;
    padding: 0;
    width: 100%;
}
table.kleistad_form option, input {
    font-size: small;
    height: 2.1em;
}
table.kleistad_form input[type=number] {
    width: 5em;
}
table.kleistad_form input[type=submit] {
    font-size: small;
    height: 2.5em;
}
table.kleistad_reserveringen {
    border-collapse: collapse;
    border-spacing: 0;
    border-style: none;
    font-size: small;
    table-layout: auto;
    vertical-align: middle;
    width: 90%;
}
table.kleistad_reserveringen th {
    border-bottom-width: 1px;
    border-style:solid;
    border-top-width: 1px;
    border-width: 0;
    overflow: hidden;
}
table.kleistad_reserveringen th[colspan] {
    text-align: center;
    vertical-align: middle;
}
table.kleistad_reserveringen td {
    border-bottom-width: 1px;
    border-style:solid;
    border-top-width: 1px;
    border-width: 0;
    overflow: hidden;
}
table.kleistad_reserveringen td:nth-child(4n) {
    text-align: right;
}
table.kleistad_reserveringen th[data-align='right'] {
    text-align: right;
}
table.kleistad_reserveringen a {
    color: black;
    text-decoration: none;
    width: 100%;
}
table.kleistad_reserveringen a:hover {
    color: blue;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}
.kleistad_tabel {
    font-size: small;
    table-layout: auto;
}
table.kleistad_rapport {
    table-layout: auto;
}
table.kleistad_rapport th {
    font-size: small;
    font-weight: bold;
}
table.kleistad_rapport td {
    font-size: small;
}
table.kleistad_rapport thead {
    background-color: #F2F2F2;
}
table.kleistad_rapport tr:nth-child(even) {
    background-color: #F2F2F2;
}

.kleistad_label {
    font-weight: bold;
}
.kleistad_row::after {
    clear: both;
    content: "";
    display: table;
}
.kleistad_input_cbr {
    position: absolute;
    visibility: hidden;
}
.kleistad_input_cbr:checked ~ .kleistad_label_cbr {
    color: green;
}

.kleistad_input_cbr:checked ~ .kleistad_label_cbr::before {
    background: whitesmoke;
    border: 7px solid green;
    margin-right: 20px;
}
.kleistad_input_cbr:disabled ~ .kleistad_label_cbr::before {
    background: whitesmoke;
    border: 7px solid darkgray;
    margin-right: 20px;
}

.kleistad_label_cbr {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    transition: all 0.25s linear;
}

.kleistad_label_cbr::before {
    border: 7px solid lightgray;
    border-radius: 50%;
    content: '';
    display: block;
    height: 18px;
    margin-right: 20px;
    transition: all .25s linear;
    width: 18px;
}

.kleistad_label_cbr:hover:before {
    border: 7px solid greenyellow;
}

.kleistad_recept_img {
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     contain;
    float: left;
    height: 200px; /* 300px; */;
    position: relative;
    width:  100%; /* 300px */;
}
.kleistad_recept_titel {
    float: left;
    position: relative;
}

.kleistad_filters {
    border: 0;
    display: none;
    float: left;
    height: 100%;
    padding: 15px;
    width: 30%;
}

.kleistad_filter_term input:checked {
    font-weight: bold;
}

.kleistad_filter_term input:not(:checked) {
    font-weight: normal;
}

.kleistad_filter_term {
    border-bottom:1px solid black;
    list-style-position:inside;
    list-style-type:none;
}

.kleistad_filter_term label:hover {
    background:#eee;
    cursor:pointer;
}

.kleistad_recept_overzicht {
    margin-left: 0;
}

.kleistad_zoek {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
}

.kleistad_zoek input#search {
    background: #2b303b;
    border: none;
    color: #262626;
    float: left;
    height: 50px;
    padding-left: 45px;
    width: 250px;
}

[class*="kleistad_col_"] {
    border: 0;
    float: left;
    padding: 0 15px;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .kleistad_col_1 {
        width: 10%;
    }
    .kleistad_col_2 {
        width: 20%;
    }
    .kleistad_col_3 {
        width: 30%;
    }
    .kleistad_col_4 {
        width: 40%;
    }
    .kleistad_col_5 {
        width: 50%;
    }
    .kleistad_col_6 {
        width: 60%;
    }
    .kleistad_col_7 {
        width: 70%;
    }
    .kleistad_col_8 {
        width: 80%;
    }
    .kleistad_col_9 {
        width: 90%;
    }
    .kleistad_col_10 {
        width: 100%;
    }
}


@media screen and (max-width: 700px) {
    table.kleistad_reserveringen th, td, button {
        font-size: x-small;
    }
    table.kleistad_rapport th, td {
        font-size: x-small;
    }
}
