/*
Description: stylesheet functions voor kleistad_plugin, specifiek de kalender shortcode
  Version: 5.3.0
  Author: Eric Sprangers
  Author URI: http://www.sprako.nl/
  License: GPL3.0
*/

/*csslint important: false, box-model: false, unqualified-attributes: false, overqualified-elements: false*/

