/*
Description: stylesheet functions voor kleistad_plugin
  Version: 6.6.13
  Author: Eric Sprangers
  Author URI: https://www.kleistad.nl/
  License: GPL3.0
*/

.kleistad-shortcode *:not(.dashicons),
.kleistad-fout p,
.kleistad-succes p,
.kleistad-inform p {
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: small;
}

.kleistad-shortcode table {
	table-layout: auto;
}

.kleistad-shortcode .jstree-anchor {
	box-shadow: 0 0 0 0 white !important;
}

/* Fullcalendar toont om een dubbele button alsof het een radio button is. */
.kleistad-shortcode .fc--button {
	display: none;
}

.kleistad-shortcode .fc-toolbar-title {
	font-size: medium;
}

.kleistad-state-highlight {
	border: 2px solid green !important;
}

.kleistad-fout {
	background-color: #d4a190;
	border-left: 6px solid #d67750;
	padding-left: 10px;
}

.kleistad-succes {
	background-color: #a1d490;
	border-left: 6px solid #57a841;
	padding-left: 10px;
}

.kleistad-inform {
	background-color: lemonchiffon;
	border-left: 6px solid gold;
	padding-left: 10px;
}

.kleistad-wachten {
	background: url(../images/plswait.gif) no-repeat;
	height: 100%;
	left: 50%;
	position: fixed;
	top: 50%;
	width: 100%;
	z-index: 10;
}

div.kleistad-workshop-correspondentie {
	border: 1px solid gray;
	color: black;
	font-size: small;
	margin: 5px;
	padding: 5px;
}

div.kleistad-workshop-correspondentie-folded {
	background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0) 90%);
	height: 10em;
	overflow-y: hidden;
}

div.kleistad-workshop-aanvraag {
	background-color: lightblue;
}

div.kleistad-workshop-vraag {
	background-color: lightgoldenrodyellow;
}

div.kleistad-workshop-reactie {
	background-color: lightgray;
}

a.kleistad-edit {
	background-image: url(../images/icon-edit.png);
	background-repeat: no-repeat;
	text-decoration: none !important;
}

a.kleistad-view {
	background-image: url(../images/icon-view.png);
	background-repeat: no-repeat;
	text-decoration: none !important;
}

a.kleistad-schedule {
	background-image: url(../images/icon-calendar.png);
	background-repeat: no-repeat;
	text-decoration: none !important;
}

.kleistad-tijd {
	width: 4em;
}

.kleistad-datum {
	width: 9em;
}

.kleistad-datatable th,
.kleistad-datatable td {
	font-size: small;
}

.kleistad-form tr {
	margin: 0;
}

.kleistad-form td {
	border-style: none;
}

.kleistad-form th {
	border-style: none;
}

.kleistad-form input[type="text"],
.kleistad-form select {
	width: 100%;
}

.kleistad-form button {
	height: 2.5em;
	padding: 0;
	width: 100%;
}

.kleistad-form option,
.kleistad-form input {
	height: 2.1em;
}

.kleistad-form input[type="number"] {
	width: 5em;
}

.kleistad-form input[type="submit"] {
	height: 2.5em;
}

.kleistad-reservering-form {
	table-layout: auto;
}

.kleistad-reservering-form td,
.kleistad-reservering-form input {
	font-size: small;
	text-align: right;
}

.kleistad-reservering-form th,
.kleistad-reservering-form label,
.kleistad-reservering-form select {
	font-size: small;
	text-align: left;
}

.kleistad-reserveringen {
	border-collapse: collapse;
	border-spacing: 0;
	border-style: none;
	font-size: small;
	table-layout: auto;
	vertical-align: middle;
	width: 90%;
}

.kleistad-reserveringen th,
.kleistad-reserveringen td {
	border: 0 solid;
	overflow: hidden;
}

.kleistad-reserveringen th:nth-child(n+3),
.kleistad-reserveringen td:nth-child(n+3) {
	text-align: right;
}

.kleistad-reserveringen tr[data-form]:hover {
	border: 1px solid gray;
	color: blue;
	cursor: pointer;
}

.kleistad-form {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: small;
	padding: 0;
	vertical-align: middle;
}

.kleistad-label,
.kleistad-label + span {
	font-weight: bold;
}

.kleistad-input:required:invalid {
	background-image: url(../images/invalid.png);
	background-position: right top;
	background-repeat: no-repeat;
}

.kleistad-input:required:valid {
	background-image: url(../images/valid.png);
	background-position: right top;
	background-repeat: no-repeat;
}

.kleistad-row::after {
	clear: both;
	content: "";
	display: table;
}

.kleistad-pwd-meter {
	border: 1px solid #ddd;
	box-sizing: border-box;
	color: #23282d;
}

.kleistad-pwd-sterk {
	background-color: #c1e1b9;
	border-color: #83c373;
	opacity: 1;
}

.kleistad-pwd-goed {
	background-color: #ffe399;
	border-color: #ffc733;
	opacity: 1;
}

.kleistad-pwd-zwak {
	background-color: #fbc5a9;
	border-color: #f78b53;
	opacity: 1;
}

.kleistad-pwd-erg-zwak,
.kleistad-pwd-ongelijk {
	background-color: #f1adad;
	border-color: #e35b5b;
	opacity: 1;
}

.kleistad-recept-img {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	height: 200px;
	position: relative;
	width: 100%;
}

.kleistad-recept-titel {
	float: left;
	position: relative;
}

.kleistad-reservering-ongebruikt,
.kleistad-reservering-definitief {
	background: white;
}

.kleistad-reservering-onderhoud {
	background: lightgray;
}

.kleistad-reservering-zelf {
	background: lightgreen;
}

.kleistad-reservering-ander {
	background: pink;
}

.kleistad-filters {
	border: 0;
	display: none;
	float: left;
	height: 100%;
	padding: 15px;
	width: 30%;
}

.kleistad-filter-term input:checked {
	font-weight: bold;
}

.kleistad-filter-term input:not(:checked) {
	font-weight: normal;
}

.kleistad-filter-term {
	border-bottom: 1px solid black;
	list-style-position: inside;
	list-style-type: none;
}

.kleistad-filter-term label:hover {
	background: #eee;
	cursor: pointer;
}

.kleistad-werkplek,
.kleistad-meester,
.kleistad-werkplek-bezet,
.kleistad-werkplek-vrij {
	box-sizing: border-box;
	font-size: small;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: none;
	text-align: center;
	white-space: nowrap;
	width: 100%;
}

.kleistad-werkplek-bezet,
.kleistad-werkplek-vrij {
	border: 1px solid white;
	font-size: small;
	padding: 5px 10px;
}

.kleistad-werkplek-dagdeel,
.kleistad-werkplek-reserveerbaar,
.kleistad-werkplek-gereserveerd {
	border: 0;
}

[class^="kleistad-col-"] {
	border: 0;
	float: left;
	padding: 2px 15px;
	width: 100%;
}

@media screen and (min-width: 768px) {

	.kleistad-col-1 {
		width: 10%;
	}

	.kleistad-col-2 {
		width: 20%;
	}

	.kleistad-col-3 {
		width: 30%;
	}

	.kleistad-col-4 {
		width: 40%;
	}

	.kleistad-col-5 {
		width: 50%;
	}

	.kleistad-col-6 {
		width: 60%;
	}

	.kleistad-col-7 {
		width: 70%;
	}

	.kleistad-col-8 {
		width: 80%;
	}

	.kleistad-col-9 {
		width: 90%;
	}

	.kleistad-col-10 {
		width: 100%;
	}

	.kleistad-col-kwart {
		width: 25%;
	}
}

div.kleistad-werkplek-dagdeel {
	display: none;
}

@media screen and (max-width: 768px) {

	table.kleistad-reserveringen th,
	table.kleistad-reserveringen td,
	table.kleistad-reserveringen button {
		font-size: x-small;
	}

	div.kleistad-werkplek-dagdeel {
		display: block;
	}

	div.kleistad-meesters {
		display: none;
	}

	[class^="kleistad-col-"] {
		width: 100%;
	}
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	.kleistad-shortcode [type="checkbox"],
	.kleistad-shortcode input[type="radio"] {
		--active: green;
		--active-inner: white;
		--background: white;
		--border-hover: green;
		--border: #bbc1e1;
		--disabled: #f6f8ff;
		--disabled-inner: #e1e6f9;
		--focus: 2px greenyellow;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: var(--b, var(--background));
		border: 1px solid var(--bc, var(--border));
		cursor: pointer;
		display: inline-block;
		height: 21px;
		margin: 0;
		outline: none;
		position: relative;
		transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
		vertical-align: top;
		width: 21px;
	}

	.kleistad-shortcode input[type="checkbox"]::after,
	.kleistad-shortcode input[type="radio"]::after {
		content: "";
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
		opacity: var(--o, 0);
	}

	.kleistad-shortcode input[type="radio"] {
		border-radius: 50%;
	}

	.kleistad-shortcode input[type="checkbox"] {
		border-radius: 7px;
	}

	.kleistad-shortcode input[type="checkbox"]:checked,
	.kleistad-shortcode input[type="radio"]:checked {
		--b: var(--active);
		--bc: var(--active);
		--d-o: 0.3s;
		--d-t: 0.6s;
		--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
		--o: 1;
	}

	.kleistad-shortcode input[type="checkbox"]:disabled,
	.kleistad-shortcode input[type="radio"]:disabled {
		--b: var(--disabled);
		cursor: not-allowed;
		opacity: 0.9;
	}

	.kleistad-shortcode input[type="checkbox"]:focus,
	.kleistad-shortcode input[type="radio"]:focus {
		box-shadow: 0 0 0 var(--focus);
	}

	.kleistad-shortcode input[type="checkbox"] + label,
	.kleistad-shortcode input[type="radio"] + label {
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		line-height: 21px;
		margin-left: 4px;
		vertical-align: top;
	}

	.kleistad-shortcode input[type="radio"]:checked {
		--s: 0.5;
	}

	.kleistad-shortcode input[type="checkbox"]:disabled:checked,
	.kleistad-shortcode input[type="radio"]:disabled:checked {
		--b: var(--disabled-inner);
		--bc: var(--border);
	}

	.kleistad-shortcode input[type="checkbox"]:disabled + label,
	.kleistad-shortcode input[type="radio"]:disabled + label {
		cursor: not-allowed;
	}

	.kleistad-shortcode input[type="radio"]::after {
		background: var(--active-inner);
		border-radius: 50%;
		height: 19px;
		opacity: 1;
		transform: scale(var(--s, 0.7));
		width: 19px;
	}

	.kleistad-shortcode input[type="checkbox"]::after {
		border: 2px solid var(--active-inner);
		border-left: 0;
		border-top: 0;
		height: 9px;
		left: 7px;
		top: 4px;
		transform: rotate(43deg);
		width: 5px;
	}

	.kleistad-shortcode input[type="checkbox"]:hover:not(:checked):not(:disabled),
	.kleistad-shortcode input[type="radio"]:hover:not(:checked):not(:disabled) {
		--bc: var(--border-hover);
	}

	.kleistad-shortcode button:not(.mce-tinymce button),
	.kleistad-button {
		-webkit-transition-duration: 0.4s;
		background-color: green;
		color: white;
		border: none;
		border-radius: 5px !important; /* Omdat full calendar dit aanpast. */
		cursor: pointer;
		font-size: medium;
		overflow: hidden;
		padding: 10px;
		position: relative;
		text-align: center;
		text-decoration: none;
		transition-duration: 0.4s;
	}

	.kleistad-shortcode button:hover:not(.mce-tinymce button),
	.kleistad-button {
		background: white;
		box-shadow: 0 2px 10px 5px lightgray;
		color: black;
	}

	.kleistad-shortcode button:active::after:not(.mce-tinymce button),
	.kleistad-button {
		padding: 0;
		margin: 0;
		opacity: 1;
		transition: 0s;
	}

	.kleistad-shortcode button:focus:not(.mce-tinymce button),
	.kleistad-button {
		background-color: green;
		color: white;
	}
}
