/**
 * Spefieke styles voor single recept pagina.
 */

table {
	font-size: small;
}

#kleistad_terug {
	cursor: pointer;
}

#kleistad_recept_foto {
	border-radius: 5px;
	cursor: zoom-in;
	max-width: 100%;
	max-height: 100%;
	transition: 0.3s;
}

@media print {
	#kleistad_terug,
	#kleistad_profiel_container {
		display: none;
	}
}
